@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

:root{
    --corbotoesH2texto:#ffae00;
    --arredondamentobordas:10px;
    --minhafonte:"Bebas Neue"
}

body{
    background-image: url(imagens/bg.png);
    /*descomente para aplicar a imagem se repetição*/
    /*background-repeat: repeat;
    background-size: cover;*/
    text-align: center;
}
header{
    background-color: #1E1F22;
    text-align: center;
    padding: 15px;
}

nav a{
    color: white;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--minhafonte);
}

.logo{
    width: 250px;
}
h1{
    text-transform: uppercase;
}
h2{
    color: var(--corbotoesH2texto);
    text-align: center;
}

.imagemproduto{
    width: 400px;
}
.boxproduto{
    display: flex;
    flex-direction: row;
    background-color: rgba(37, 37 ,37, 0.8);
    width:900px;
    margin: 0px auto;
    border-radius: var(--arredondamentobordas);
    
}
.boximagem, .boxtexto{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}
.boxtexto{
    width: 400px;
    text-align: start;
    justify-content:center;
}
h1, h2, h3, button{
    margin: 10px 0px;
}

button{
    background-color: var(--corbotoesH2texto);
    padding: 15px;
    border: none;
    border-radius: var(--arredondamentobordas);
    width: 150px;
    cursor: pointer;
}
.modal h6{
    color: black;
    text-align: left;
}